@import (less) "variables.less";
@import (less) "mixins.less";
@import (less) "grid.less";

.background-wrapper {
  text-align: center;
}

#background {
  overflow: hidden;
}

body {
  background-color: @dark-blue;
}
