@import (less) "variables.less";
@import (less) "mixins.less";
@import (less) "grid.less";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: @dark-blue;
  color: white;
  font-family: @font-family;
}

a {
  text-decoration: none;
}

#background {
  overflow: hidden;
  left: 0;
  position: fixed;
  top: 0;
  z-index: -1;
}

.everything {
  height: 100%;
  position: relative;
  width: 100%;
}

.bottom {
  position: relative;
  bottom: 5%;
  text-align: right;
}

.center {
  margin: 0 auto;
  position: relative;
  top: 50%;
  text-align: center;
}

.greeting {
  color: @greeting-color;
  font-size: @greeting-font-size;
  letter-spacing: @greeting-letter-spacing;

  @media (max-width: @mobile-width) {
    font-size: @greeting-mobile-font-size;
  }

}

.name {
  color: @orange;
  font-size: @name-font-size;
  font-weight: @name-font-weight;
  line-height: @name-line-height;
  letter-spacing: @name-letter-spacing;
  .text-shadow(@name-text-shadow);

  @media (max-width: @mobile-width) {
    font-size: @name-mobile-font-size;
  }

}

.links {
  margin: @links-margin;
}

.link {
  color: @link-color;
  display: inline-block;
  padding: @link-padding;
  .transition(@link-transition);
}

.link:hover {
  color: @link-hover-color;
}
