/**
* variables
*/

@dark-blue: #0A0A1E;
@lighter-blue: #9d9da5;
@orange: rgba(255,82,82,1);

@font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;

@greeting-color: @lighter-blue;
@greeting-font-size: 32px;
@greeting-mobile-font-size: 18px;
@greeting-letter-spacing: 0.04em;

@name-font-size: 56px;
@name-mobile-font-size: 36px;
@name-font-weight: 700;
@name-line-height: 1.5;
@name-letter-spacing: -0.02em;
@name-text-shadow: 1px 1px 1px @orange;

@links-margin: 24px;
@link-border: 1px solid @lighter-blue;
@link-color: @lighter-blue;
@link-hover-color: @orange;
@link-transition: color 0.3s ease 0;
@link-padding: 5px;
/**
* grid
*/ 

@large-desktop-width: 1200px;
@desktop-width: 992px;
@tablet-width: 760px;
@mobile-width: 480px;
@rows: 12;
@col-padding: 0px;

