/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
* variables
*/
/**
* grid
*/
/**
* grid
*/
*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*='col-'] {
  float: left;
  padding: 0px;
}
[class*='col-']:last-of-type {
  float: right;
  padding-right: 0px;
}
.clearfix,
.row:after {
  clear: both;
  content: "";
  display: table;
}
.col-1 {
  width: 8.33333333%;
}
@media (max-width: 760px) {
  .col-1 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-1 {
    width: 100%;
  }
}
.col-2 {
  width: 16.66666667%;
}
@media (max-width: 760px) {
  .col-2 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-2 {
    width: 100%;
  }
}
.col-3 {
  width: 25%;
}
@media (max-width: 760px) {
  .col-3 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-3 {
    width: 100%;
  }
}
.col-4 {
  width: 33.33333333%;
}
@media (max-width: 760px) {
  .col-4 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-4 {
    width: 100%;
  }
}
.col-5 {
  width: 41.66666667%;
}
@media (max-width: 760px) {
  .col-5 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-5 {
    width: 100%;
  }
}
.col-6 {
  width: 50%;
}
@media (max-width: 760px) {
  .col-6 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-6 {
    width: 100%;
  }
}
.col-7 {
  width: 58.33333333%;
}
@media (max-width: 760px) {
  .col-7 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-7 {
    width: 100%;
  }
}
.col-8 {
  width: 66.66666667%;
}
@media (max-width: 760px) {
  .col-8 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-8 {
    width: 100%;
  }
}
.col-9 {
  width: 75%;
}
@media (max-width: 760px) {
  .col-9 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-9 {
    width: 100%;
  }
}
.col-10 {
  width: 83.33333333%;
}
@media (max-width: 760px) {
  .col-10 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-10 {
    width: 100%;
  }
}
.col-11 {
  width: 91.66666667%;
}
@media (max-width: 760px) {
  .col-11 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-11 {
    width: 100%;
  }
}
.col-12 {
  width: 100%;
}
@media (max-width: 760px) {
  .col-12 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-12 {
    width: 100%;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0a0a1e;
  color: white;
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
#background {
  overflow: hidden;
  left: 0;
  position: fixed;
  top: 0;
  z-index: -1;
}
.everything {
  height: 100%;
  position: relative;
  width: 100%;
}
.bottom {
  position: relative;
  bottom: 5%;
  text-align: right;
}
.center {
  margin: 0 auto;
  position: relative;
  top: 50%;
  text-align: center;
}
.greeting {
  color: #9d9da5;
  font-size: 32px;
  letter-spacing: 0.04em;
}
@media (max-width: 480px) {
  .greeting {
    font-size: 18px;
  }
}
.name {
  color: #ff5252;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-shadow: 1px 1px 1px #ff5252;
}
@media (max-width: 480px) {
  .name {
    font-size: 36px;
  }
}
.links {
  margin: 10px;
}
.link {
  color: #9d9da5;
  display: inline-block;
  padding: 5px;
}
